*{
	padding: 0;
	margin: 0;
}
header{
	
}
.menu{
	width: 400px;
	height: 100px;
	margin: 10px auto;
	background-color: red;
}
div{
	display: inline-block;
	width: 40px;
	height: 40px;
	margin: 10px auto;
	background-color: blue;
}