*{
	padding: 0;
	margin: 0;
}
html{
	font-size: 16px;
}

header{
	display: relative;
	width: 100%;
	font-size: 1.2rem;
	border-bottom: 1px solid black;
}
header ul,
header li,
header a{
	display: flex;
	justify-content: center;
	align-items: center;
}
header ul{
	list-style: none;
}
header a{
	text-decoration: none;
	color: white;
}
.wrapper{
	position: relative;
	background-color: rgb(0 0 100);
	color: white;
}
.wrapper a:hover{
	text-decoration: underline;
}
.wrapper li{
	padding: 10px 10px 10px 0;
}
.wrapper li[class]:before{
	content: "";
	display: inline-block;
	background-position: center;
	background-size: cover;
	height: 30px;
	margin-right: 10px;
}
.wrapper li[class]:after{
	content: "";
	display: inline-block;
	background: url(../images/line-icon.png);
	background-position: center;
	background-size: cover;
	width: 1px;
	height: 40px;
	margin-left: 10px;
}
.days:before{
	background: url(../images/time-icon.png);
	width: 30px;
}
.phone-number:before{
	background: url(../images/phone-icon.jpg);
	width: 21.67px;
}
.email a{
	color: white;
}
.email:before{
	background: url(../images/email-icon.jpg);
	width: 40px;
}
.call-button{
	background-color: red;
	padding: 10px 15px;
	border-radius: 15px;
	color: white;
	font-size: 1rem;
}
.call-button:hover{
	transition-duration: 0.4s;
	background-color: white;
	color: blue;
}
.call-button:active{
	
}
/*menu*/
.menu{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 57px;
	background: rgb(250 250 250);
}
.menu a{
	color:black;
}
.logo{
	margin: 10px 0;
	font-size: 2rem;
}
.logo img{
	width: 2.2rem;
}
.menu-list{
	height: 100%;
	margin-left: 30px;
}
.menu-list li{
	height: 100%;
	padding: 0 10px;
}
.menu-list a{
	height: 100%;
}
.menu-list li:hover{
	transition: 0.4s;
	background: rgba(0,0,200,.3);
}
.menu-list li:hover a{
	color: white;
}
.menu-list li a:hover{
	color: white;
}
.services{
	position: relative;
	width: 66px;
}
.show {display: block;}
.services:after{
	content: "";
	display: inline-block;
	background: url(../images/arrowDown-icon.png);
	background-position: center;
	background-size: cover;
	width: 10px;
	height: 10px;
	margin-left: 5px;
}
#services-menu{
	display: none;
	position: absolute;
	z-index:2;
	background: red;
	top: 50px;
	width: 100%;
	overflow: auto;
}
.burger{
	display: none;
	width: 2rem;
}
.roll{
	display: none;
	position: relative;
}
main{
	position: relative;
}
footer{
	width: 100%;
	background-color: gray;
	text-align: center;
	padding: 10px 0;
	font-size: 1.2rem;
	color: white;
}

