*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html{
	font-size: 16px;
}

header{
	display: relative;
	width: 100%;
	font-size: 1.2rem;
	border-bottom: 1px solid black;
}
header ul,
header li,
header a{
	display: flex;
	justify-content: center;
	align-items: center;
}
header ul{
	list-style: none;
}

.wrapper{
	position: relative;
	background-color: rgb(0 0 100);
	color: white;
}
header a{
	text-decoration: none;
}
.wrapper a{
	color: white;
}
.contact-list a:hover{
	text-decoration: underline;
}
.wrapper li{
	padding: 10px 10px 10px 0;
}

.contact-list li[class]:before{
	content: "";
	display: inline-block;
	background-position: center;
	background-size: cover;
	height: 30px;
	margin-right: 10px;
}
.wrapper li[class]:after{
	content: "";
	display: inline-block;
	background: url(../images/line-icon.png);
	background-position: center;
	background-size: cover;
	width: 1px;
	height: 40px;
	margin-left: 10px;
}
.wrapper .days{
	position: relative;
}
.wrapper .days:hover{
	text-decoration: underline;
	cursor: pointer;
}

.days:before{
	background: url(../images/time-icon.png);
	width: 30px;
}
#wrapDays:after{
	content: "";
	display: inline-block;
	background: url(../images/arrowDownWhite-icon.png);
	background-position: center;
	background-size: cover;
	width: 10px;
	height: 10px;
	margin-left: 5px;
}
.days:hover .days-content{
	display: flex;
}

.days-content{
	padding: 5px 10px 0 10px;
    display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
    position: absolute;
    background-color: rgb(0 0 100);
	left: 0;
	top: 80%;
	border: 1px solid white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	cursor: text;
}

.days-content li{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 0 5px 0;
	color: white;
}
.days-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.phone-number:before{
	background: url(../images/phone-icon.png);
	width: 30px;
	margin-right: 5px;
}

.email:before{
	background: url(../images/email-icon.png);
	width: 40px;
}
.call-button{
	background-color: red;
	padding: 10px 15px;
	border-radius: 15px;
	color: white;
	font-size: 1rem;
	cursor: pointer;
	transition-duration: 0.4s;
}
.call-button:hover{
	background-color: white;
	color: blue;
}
.call-button:active{
	
}
/*menu*/
.menu{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 57px;
	background: rgb(250 250 250);
}
.menu a{
	color:black;
}
.logo{
	margin: 10px 10px;
	font-size: 2rem;
}
.logo img{
	width: 2.2rem;
}
.menu-list{
	height: 100%;
	margin-left: 30px;
}
.menu-list li,
.menu-list a{
	height: 100%;
}
.menu-list a{
	padding: 0 10px;
}
#menu-medium{
	display: none;
}

.visabtn:after{
	content: "";
	display: inline-block;
	background: url(../images/arrowDown-icon.png);
	background-position: center;
	background-size: cover;
	width: 10px;
	height: 10px;
	margin-left: 5px;
}
.visa {
    position: relative;
    display: block;
	transition: 0.4s;
}
.visa:hover .visabtn:after,
.days:hover #wrapDays:after
{
	content: "";
	display: inline-block;
	background: url(../images/arrowUpWhite-icon.png);
	background-position: center;
	background-size: cover;
	width: 10px;
	height: 10px;
	margin-left: 5px;
}

.visa:hover .visa-content{
	display: flex;
}

.visa-content{
    display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
    position: absolute;
    background-color: white;
    min-width: 280px;	
	left: 0;
	border-width: 1px 1px 0 1px;
	border-style: solid;
	border-color: black;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.visa-content li{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-width: 0 0 1px 0;
	padding: 10px 0;
	border-style: solid;
	color: black;
	cursor: pointer;
	border-color: black;
}
.visa-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.pol-visa:after{
	content: "";
	display: inline-block;
	background: url(../images/arrowRight-icon.png);
	background-position: center;
	background-size: cover;
	width: 10px;
	height: 10px;
	margin-left: 5px;
}
.pol-visa:hover:after{
	transition: 0.4s;
	content: "";
	display: inline-block;
	background: url(../images/arrowRightWhite-icon.png);
	background-position: center;
	background-size: cover;
	width: 10px;
	height: 10px;
	margin-left: 5px;
}
.pol-visa-content{
	display: none;
	border-width: 1px 1px 0 1px;
	border-style: solid;
	border-color: black;
    position: absolute;
	left: 100%;;
	top: -1px;
    background-color: white;
    min-width: 200px;	
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}
.pol-visa:hover .pol-visa-content{display:block;}
.pol-visa{
	position: relative;
	display: block;
}
.show {display: inline-block;}

.burger{
	display: none;
	position: relative;
}
.burger-content{
	display: none;
	position: absolute;
	z-index: 1;
}
main{
	position: relative;
}
footer{
	width: 100%;
	background-color: gray;
	text-align: center;
	padding: 10px 0;
	font-size: 1.2rem;
	color: white;
}
@media (min-width: 961px)
{
	#menu-large li{
		transition: 0.4s;
	}
	#menu-large li:hover{
		color: white;
		background: rgba(0,0,200,.3);
	}
	#menu-large li:hover a{
		color: white;
	}
	#menu-large li a:hover{
		color: white;
	}
}
@media(max-width: 960px)
{
	.wrapper, #menu-large{display:none;}
	.menu{height: 50px;}
	#menu-medium{display:flex; }
	#menu-medium li{
		padding: 0 10px;
	}
	.burger{
		display:block;
		position: relative;
		margin-right: 10px;
		width: 2rem;
		cursor: pointer;
	}
	.menu{
		justify-content: space-between;
	}
	.logo{
		font-size: 1.5rem;
	}
	.days, .phone-number{
		font-size: 1rem;
	}
}
@media(max-width: 600px;)
{
	.days{
		display: none;
	}
}